.detailsCard {
  margin: 20px auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  width: max-content;
  text-align: start;
}

.details div {
  font-size: 30px;
}

.details p {
  margin-left: 20px;
  font-size: 30px;
}

.nameOfProduct {

  color: rgb(1, 27, 14) !important;
  font-size: 2rem !important;

}

.details {
  margin-left: 10px;
  font-size: 30px;
  background-color: white;
  width: max-content;
}

.productImage {
  height: 400px;
  width: 400px;
}

.icon-arrow {
  color: #003248 !important;

  font-size: 40px;
  font-weight: bold;
}

.addToBag {
  color: #003248 !important;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap !important;
  flex-direction: column;
  margin: 0 auto;

}

.btnAdd {
  width: max-content;
  padding: 5px;
  box-shadow: 0px 0px 5px 5px rgb(236, 247, 226);
  border: none !important;
}

.addToCart {
  display: flex;
}

.addToCart div {
  width: max-content;
  margin-left: 10px;
}

.price {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #ebebeb !important;
}

.addOrRemove {
  color: #003248 !important;
  display: flex;
  justify-content: space-evenly;
  font-size: 17px;
  font-weight: 200;
  border: #909192 1px solid;
}

.shareUrl {
  background-color: transparent;
  border: none;
  width: max-content;
  margin: 0 auto;
}

.copied {
  transition: all .2s linear;
  background-color: #36393e;
  color: #fff;
  text-align: center;
  padding: 0 10px;
  font-size: 13px;
  letter-spacing: -.04em;
  line-height: 30px;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  margin-top: 3px;
  transform: translate(-20%);
  white-space: nowrap;
}

.fa-share-alt {
  font-size: 30px;
  color: #003248 !important;

}

.amountPlusMinus {
  font-size: 17px !important;
  color: #003248 !important;
  font-weight: 100;
  border: none;
  padding: 5px;

}

.fa-minus,
.fa-plus {
  font-size: 17px !important;
  font-weight: 100;
  color: #a9b2b6 !important;
  padding: 5px;
  line-height: 24px;
}

.status {
  font-size: 18px !important;
}

/* Animatio when add to cart */
.animImg {
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 1;
  animation: mymove 3s 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.spesOrDesc {
  border: rgb(224, 219, 219) 3px solid;
  margin: 0 auto !important;
  padding: 13px !important;
}

.spesOrDesc tr {
  border-bottom: #909192 1px solid;
}

.spesOrDesc th,
.spesOrDesc td {
  font-size: 20px !important;
  padding: 5px !important;
  text-align: justify;
}

.specification {
  width: max-content;
}

.spesOrDesc .description {
  width: 40vw !important;
  padding: 20px !important;
  font-weight: none !important;
}

@keyframes mymove {
  0% {
    bottom: 300px;
    left: 200px
  }

  50% {
    bottom: 850px;
    left: 20px
  }

  100% {
    bottom: 1300px;
    left: 10px
  }
}

@media only screen and (min-width:600px) and (max-width:930px) {
  .detailsCard {
    width: 95vw;
  }

  .detailsImg,
  .details {
    width: 45vw;
    height: 50vw;
  }

}

@media only screen and (max-width:600px) {
  .detailsCard {
    width: 95vw;
    margin-left: 0;
  }

  .detailsImg,
  .details {
    width: 95vw;
    margin-left: 2vw;
  }

  .detailsImg {
    height: 50vh;
  }

}

@media only screen and (max-width:400px) {

  .btnAdd {
    width: 80vw;
  }
}